.style {
    background: transparent;
    /* color: #fff; */
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 10px 30px;
    perspective: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  }
  
  .style::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(320deg, rgba(255, 17, 0, 0.678), rgba(128, 0, 43, 0.308));
  
   /* background: rgba(185, 28, 28, 0.801); */
    z-index: 1;
    transition: background 3s;
  }
  
  .style:hover::before {
    animation: rotate 1s;
    transition: all .5s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }


  h4 {
    color: green;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(720deg) scale(0);
    animation: showText 2s ease-in-out forwards;
  }

  @keyframes showText {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(720deg) scale(1);
    }
  }